<div class="parent outertodo">    

    <div class="userheader">
        <div class="links">    
            <i class="fa fa-home" (click)="GoHome()"></i>
            <i class="fa fa-plus" (click)="AddTask()"></i>
        </div>  
    <div class="listname">
        <i class="fa fa-user"></i>
        {{Username}}
    </div>

</div>


    <div class="wrapper mainparent">
    <div>

      <div class="headlane1">
        <div class="heading">
            <i class="fa fa-list"></i>
            Backlog
        </div>
      </div>
      
      <div class="headlane2">          
        <div class="heading">
            <i class="fa fa-tasks"></i>
            Progress            
        </div>
       </div>
      
      <div class="headlane2">
        <div class="heading">            
            <i class="fa fa-check"></i>
            Done
        </div>
      </div>

    </div>
        <div class="container swimlane1" [dragula]="'bag'" [dragulaModel]='backlog'>          
            
            <div *ngFor="let item of backlog" class="item noselect" >            
                <i class="fa fa-file-text-o">
                </i>
                <span>
                    {{item.Description}}
                </span>                
            </div>
            
        </div>
        <div class="container swimlane2" [dragula]="'bag'" [dragulaModel]='progress'>

            <div *ngFor="let item of progress" class="item noselect" >            
                <i class="fa fa-file-text-o">
                </i>
                <span>
                    {{item.Description}}
                </span>                
            </div>

        </div>
        <div class="container swimlane2" [dragula]="'bag'" [dragulaModel]='completed'>
           
           <div *ngFor="let item of completed" class="item noselect" >            
                <i class="fa fa-file-text-o">
                </i>
                <span>
                    {{item.Description}}
                </span>                
            </div> 

        </div>
    </div>    
</div>

