
<div class="parent outertodo">    
    <div class="wrapper mainparent">
    <div>
      <div class="headlane1">
        <div class="heading">backlog</div>
      </div>
      
      <div class="headlane2">
        <div class="heading">in progress</div>
       </div>
      
      <div class="headlane2">
        <div class="heading">done</div>
      </div>

    </div>
        <div class="container swimlane1" [dragula]="'second-bag'">          
            <div class="item noselect">One </div>
            <div class="item noselect">Two </div>
            <div class="item noselect">Three </div>
            <div class="item noselect">Four </div>
        </div>
        <div class="container swimlane2" [dragula]="'second-bag'">
            <div class="item noselect">Five </div>
           <div class="item noselect">Six </div>
            <div class="item noselect">Seven </div>
            <div class="item noselect">Eight </div>
        </div>
        <div class="container swimlane2" [dragula]="'second-bag'">
            <div class="item noselect">easy </div>
            <div class="item noselect">one </div>
            <div class="item noselect">to </div>
            <div class="item noselect">do </div>
        </div>
    </div>    
</div>

